@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 100%;
}
img {
  border: 0;
  vertical-align: middle;
}
body {
  font-family: "Montserrat", "nbg", sans-serif;
}
em {
  font-style: normal;
}
